    <h3>Imagenes de animales:</h3>
    <ul>
      <li>
        <p>Imagen Estatica:</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi facilis quam quas, omnis amet corporis similique quisquam voluptatibus a vero aperiam, id rerum recusandae blanditiis ea tempore? Iusto, aliquam dolores.</p>
        <img ngSrc="https://cdn-icons-png.flaticon.com/128/7743/7743231.png" alt="Angular logo" width="220" height="220" />
      </li>
      <li>
       <p>Imagen Dinamica:</p> 
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit accusantium ex assumenda laudantium officia distinctio dolore iste odio explicabo. In sequi eius fugit! Id ullam deleniti dignissimos, minus quasi possimus?</p>
        <img [ngSrc]="logoUrl" [alt]="logoAlt" width="220" height="220" />
      </li>
    </ul>
    