<div class="container overflow-hidden text-center">
  <h3 class="">Formulario personas</h3>
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">
        <div class="form">
          <form [formGroup]="profileForm">
            <div class="form-floating mb-3">
              <label for="firstName" class="form-label"></label>
              <input type="email" class="form-control" name="firstName" id="nombre" formControlName="nombre" required>
              <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="apellido" formControlName="apellido" required="">
              <label for="floatingInput">Apellido</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="telefono" formControlName="telefono" required="">
              <label for="floatingInput">Teléfono</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="direccion" formControlName="direccion" required>
              <label for="floatingInput">Dirección</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" formControlName="email" required>
              <label for="floatingInput">Email address</label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="table-responsive p-3">
        <table class="table">
          <thead>
            <tr>
              <th class="table-info">Nombre</th>
              <th class="table-info">Apellido</th>
              <th class="table-info">Teléfono</th>
              <th class="table-info">Dirección</th>
              <th class="table-info">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-light">{{ profileForm.value.nombre }}</td>
              <td class="table-light">{{ profileForm.value.apellido }}</td>
              <td class="table-light">{{ profileForm.value.telefono }}</td>
              <td class="table-light">{{ profileForm.value.direccion }}</td>
              <td class="table-light">{{ profileForm.value.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
