<div class="container">
    <!--Flujo de control FOR-->
    <div class="flujo-control-for">
        <h4 >Flujo de control @For</h4>
            @for (user of operatingSystems; track user.id) {
                
                <p>{{ user.name}}</p>
            }
    </div>
    <!--Flujo de control condicional IF-->
    <div class="flujo-control-if">
        <h4>Floujo de control condicional @IF</h4>
            @if (isLoggedIn) {
                <p>Bienvenido de nuevo, Amigo!</p>
            } @else {
                <p>Inicie Sesión!</p>
            }
            <button (click)="iniciarSesion()"> {{isLoggedIn ? "Cerrar Sesion" : "Iniciar Sesion"}}</button>
    </div>
    
</div>