<p><strong>Empleado:</strong> {{ empleado }}</p>
<p><strong>Días:</strong> {{ DiasSolicitados }} días hábiles</p>
<p><strong>Fecha de inicio:</strong> {{ fechaInicio }}</p>


<div style="margin: 10px;">
  <!--
  <div class="alert alert-warning">
    <p *ngSwitchCase="'PENDIENTE'">
      Esta solicitud esta **ESPERANDO REVISION** del administrador.</p>
  </div>
  <div class="alert alert-success">
    <p *ngSwitchCase="'APROBADO'">
      ¡Felicidades! Tu solicitud ha sido **APROBADA**.
    </p>
  </div>
  <div class="alert alert-danger">
    <p *ngSwitchCase="'RECHAZADA'">
      Lo sentimos, tu solicitud fue **RECHAZADA** por necesidades operativas.
    </p>
  </div>-->



    <!-- Bloque Switch para evaluar el estado de aprobación -->

  @switch (estadoActual()) {
  @case ('PENDIENTE') {
  <div class="alert alert-warning">
    Esta solicitud esta **ESPERANDO REVISION** del administrador.
  </div>
  }
  @case ('APROBADO') {
  <div class="alert alert-success">
    ¡Felicidades! Tu solicitud ha sido **APROBADA**.
  </div>
  }
  @case ('RECHAZADO') {
  <div class="alert alert-danger">
    Lo sentimos, tu solicitud fue **RECHAZADA** por necesidades operativas.
  </div>
  }
  }
</div>
<!-- Botones de Acción para cambiar los estados -->
<div class="acciones">
  <button class="btn btn-success" (click)="aprobarSolicitud()">Aprobar</button>
  <button class="btn btn-danger" (click)="rechazarSolicitud()">Rechazar</button>
  <button class="btn btn-warning" (click)="reiniciarSolicitud()">Reiniciar</button>
</div>
